*, *:before, *:after {
  box-sizing: border-box;
}
body {
  line-height: 1.5em;
  background-color: hsl(0,0%,0%);
  background-color: hsl(0,0%,92%);


  font-family: 'Merriweather Sans';
  color: hsla(0,0%,0%,0.8);
}

h1,h2,h3 {
  font-family: 'Quicksand';

}

body {
  counter-reset: progress;
}

.sentence {
  padding: 1rem;
  margin: 0rem;  
}
.sentence[data-empty="true"] {
  background-color: hsla(0, 100%, 50%,0.5) !important;
} 
.sentence.da { background-color: hsla(210, 50%, 50%,0.12); }
.sentence.da {            color: hsla(0,50%,30%,0.8); }

.sentence.eo { background-color: hsla(0,0%,0%,0); }
.sentence.eo2 { background-color: hsla(0,0%,0%,0.05); }
.sentence.eo2 {            color: hsla(0,0%,0%,0.50); }

.eo:focus { background-color: hsla(0,0%,95%,1); }

.da:before {
  content: counter(progress);
  counter-increment: progress;
  padding-right: 1rem;
  color: hsla(0,0%,0%,0.3);
  font-weight: bold;
}

.eo:before {
  content: counter(progress);
  padding-right: 1rem;
  color: hsla(0,0%,0%,0.3);
  font-weight: bold;
}
.eo2:before {
  content: counter(progress);
  padding-right: 1rem;
  color: hsla(0,0%,0%,0.3);
  font-weight: bold;
}

.da-eo {
  margin: 2rem;
  background-color: hsla(0,0%,0%,0.12);  
}


.Toolbar {
  position: fixed;
  bottom: 0;
  right:0;
}

.Toolbar button {
  text-transform: uppercase;
}